.pagination {
    display: flex;
    margin: 25px 0 10px;
    justify-content: center;
    .page-item {
        background-color: rgb(180 152 152 / 65%);
        border: 1px solid white;
        border-left: none;
        padding: 10px;
        cursor: pointer;
        @media (max-width: 441px) {
            font-size: 12px;
            padding: 10px 5px;
        }
        &:first-child {
            border-left: 1px solid white;
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &.active {
            background-color: #ff6767;
        }
        
    }

}