.nav-movies {
    background-color: rgba(229, 222, 222, 0.3);
    color: white;
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    z-index: 1;
    .links {
        list-style: none;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
        padding:0 10px 0 0; 
    
        .link {
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

}