.movie-title {
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    font-size: 35px;
    color: white;
}
.movie {
    display: flex;
    gap: 20px;
    .movie-image {

    }
    .movie-content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #fff;
        .categories {
            list-style: none;
            display: flex;
            gap: 10px;
            li {
                background: #6e6b6b;
                border-radius: 6px;
                padding: 5px 8px;
                color: white;
                font-weight: bold;
            }
        }
        
    }
}