.movie-title {
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    font-size: 35px;
    color: white;
}
.movie {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    @media (max-width: 991px) {
        flex-direction: column;
    }
    .movie-image {
        flex: 1;
        position: relative;
        .circle-wrap {
            right: -45px;
            transform: scale(0.4);
        }
        img {
            width: 100%;
            height: 100%;
            
        }
    }
    .movie-content {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #fff;
        .description {
            flex: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 12px;
            ul {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                flex: 1;
                li {
                    flex: 50%;
                    margin-bottom: 5px;
                }
            }
            .btn-trailer {
                width: fit-content;
                padding: 5px 10px;
                border: none;
                border-radius: 6px;
                display: flex;
                gap: 5px;
                align-items: center;
                cursor: pointer;
            }
        }
        .movies-categories {
            list-style: none;
            display: flex;
            gap: 10px;
            margin-left: 20px;
            li {
                color: white;
                font-weight: bold;
            }
        }
        
    }
}

.tvs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;;
    column-gap: 5px;
    row-gap: 10px;
    .tv {
        display: flex;
        flex-direction: column;
        height: 300px;
        background: rgba(120,107,107,.8);
        border-radius: 0 0 6px 6px;
        .tv-image {
            height: 85%;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .tv-content {
            padding: 0 10px;
        }
    }    
}
.categories {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    position: fixed;
    .category {
        border: 1px solid #ff6767;
        background: rgba(180, 152, 152, 0.65);
        padding: 10px 5px;
        cursor: pointer;
        &:first-child {
            border-radius: 6px 6px 0 0;
        }
        &:last-child {
            border-radius: 0 0 6px 6px;
        }
        &.active {
            background-color: #ff6767;
        }
    }
    
}


.modal-youtube {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(122 105 105 / 80%);
    z-index: 9;
    .iframe-youtube {
        position: absolute;
        left: 20%;
        top: 20%;
        transform: translate(-10%, -10%);
        width: 80%;
        height: 80%;
    }    
}